body {
    margin: 20px 200px;
    /* equivalent to above
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      */
      color: #1A120B;
  }

p {
    text-align: justify;
    font-family: "Bitter", serif;
}

a{
    text-align: justify;
    font-family: "Bitter", serif;
}

li{
    font-family: "Bitter", serif;
}

/*headers*/
h1 {
    text-align: center;
    font-family: "Rock Salt", serif;
}
h2 {
    text-align: center;
    font-family: "Rock Salt", serif;
}
h3 {
    text-align: center;
    font-family: "Rock Salt", serif;
}
h4 {
    text-align: center;
    font-family: "Bitter", serif;
}

/*images*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/*audio*/
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}