*{
  margin: 0 0; /* delete default margins so navbar can stretch out */
}

header{
  background-color: #7C99AC; /* background color */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

body {
  color: #1A120B; /* text color */
  background-color: #D3DEDC; /* background color */
}

footer {
  padding: 15px 20% 3%;

}

.txt {
  padding: 15px 20%;
}

p {
    text-align: justify;
    font-family: "Raleway", sans-serif;
    line-height: 150%;
    margin: 15px auto;
}

a{
    text-align: justify;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #7C99AC;
}

ul {
    list-style: none;
}

li {
  font-family: "Raleway", sans-serif;
  line-height: 150%;
}

ul li ul{
    list-style: disc ;
}



/*headers*/
h1 {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    color: #7C99AC;
}

/* Top zettel title */
#title{
  color: #FFEFEF;
  font-size: 400%;

}
h2 {
  font-family: "Poiret One", sans-serif;
  color: #7C99AC;
}


/*images*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/*audio*/
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*palette: https://colorhunt.co/palette/d3dedc92a9bd7c99acffefef */


/* navbar */
.navbar {
  background-color: #7C99AC; /*changes background color of the section reserved for navbar*/
  font-family: "Bitter", serif; /*changes text font of the section reserved for navbar*/
  margin-top: 10px auto;
  text-align: center;
}


.navbar ul {
  list-style-type: none; /*puts no bullet points for list items*/
  margin: 5px auto;
  padding: 0;
  /*margin: 20px 100px;*/
}

.navbar li {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.navbar li:hover{
  background-color: #FFEFEF; /*color of the first level of nested links and below*/
}

.navbar a {
  display: block;
  color: #FFEFEF; /*changes the color of the text in top level of navbar and below*/
  text-align: left;
  padding: 14px 16px;
  text-decoration: none; /*removes underline*/
}

.navbar a:hover{ /*changes hover color for all links*/
  color: #7C99AC;
}

.navbar ul ul { /*first level of nestedness*/
  display: none;
  position: absolute;
  background-color: #92A9BD; /*color of the first level of nested links and below*/
  width: 100%;
}

.navbar ul ul ul { /*second level of nestedness*/
  display: none;
  position: absolute;
  background-color: #9eb5ca; /*color of the second level of nested links and below*/
  min-width: 200px;
  margin-top: 0px;
}

.navbar ul li ul li {
  display: block;
}

.navbar ul li ul li a {
  padding: 12px 16px;
}


.navbar ul li:hover > ul {
  display: block;
}

.navbar ul ul li:hover > ul {
  display: block;
  left: 100%;
  top: 0;
}

