body {
    margin: 20px 100px;
    /* equivalent to above
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      */
      color: #1A120B;
      background-color: #D3DEDC;
  }

p {
    text-align: justify;
    font-family: "Bitter", serif;
}

a{
    text-align: justify;
    font-family: "Bitter", serif;
    text-decoration: none;
    color: #7C99AC;
}

li{
    font-family: "Bitter", serif;
}

/*headers*/
h1 {
    text-align: center;
    font-family: "Rock Salt", serif;
    color: #7C99AC;

}
h2 {
    text-align: center;
    font-family: "Rock Salt", serif;
    color: #7C99AC;
}
h3 {
    text-align: center;
    font-family: "Rock Salt", serif;
    color: #92A9BD;
}
h4 {
    text-align: center;
    font-family: "Bitter", serif;
}

/*images*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/*audio*/
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*palette: https://colorhunt.co/palette/d3dedc92a9bd7c99acffefef */



/*taken from W3Schools*/
/* Navbar container */
/*
.navbar {
    overflow: hidden;
    background-color: #7C99AC;
    font-family: "Bitter", serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #D3DEDC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #D3DEDC;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #92A9BD;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFEFEF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

*/

.navbar { /*consider a fixed position for navbar*/
  background-color: #7C99AC; /*changes background color of the section reserved for navbar*/
  font-family: "Bitter", serif; /*changes text font of the section reserved for navbar*/ 
}

.navbar ul {
  list-style-type: none; /*puts no bullet points for list items*/
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  position: relative;
}

.navbar li:hover{
  background-color: #FFEFEF; /*color of the first level of nested links and below*/
}

.navbar a {
  display: block;
  color: white; /*changes the color of the text in top level of navbar and below*/
  text-align: left;
  padding: 14px 16px;
  text-decoration: none; /*removes underline*/
}

.navbar a:hover{ /*changes hover color for all links*/
  color: #7C99AC;
}

.navbar ul ul { /*first level of nestedness*/
  display: none;
  position: absolute;
  background-color: #92A9BD; /*color of the first level of nested links and below*/
  min-width: 200px;
}

.navbar ul ul ul { /*second level of nestedness*/
  display: none;
  position: absolute;
  background-color: #9eb5ca; /*color of the first level of nested links and below*/
  min-width: 200px;
}


.navbar ul li ul li {
  display: block;
}


.navbar ul li ul li a {
  padding: 12px 16px;
}


.navbar ul li:hover > ul {
  display: block;
}

.navbar ul ul li:hover > ul {
  display: block;
  left: 100%;
  top: 0;
}

